.upndown-wrap form div {
	margin: 1em 0;
}

.upndown-wrap .form-help {
	margin: 0;

	color: #999999;
	font-size: 0.9em;
}

.upndown-wrap legend {
	display: none;
}

.upndown-wrap label {
	display: inline-block;

	min-width: 7em;
}
